<h1>OverLeague</h1>

<h2>How to use OverLeague?</h2>

<p>
  Here you can:
  <ul>
    <li>Create events</li>
    <li>Participate in events</li>
    <li>...</li>
  </ul>
</p>

<p>
  In future you will be able to:

  <ul>
    <li>
      Create public or private teams with your basic team stats, links to sites/discord/etc
    </li>
  </ul>
</p>

<p>
  If you want to create event, choose title, describe rules and approve or decline participation requests from other users. When someone asks to participate, you'll get a notifying email.
</p>

<p>
  If you want to participate in existing event, you can request participation. You'll get notifying email if event author will accept your request.
</p>

<p>
  Also, you'll get an email in 20 minutes before event, so you won't miss events you wanted participate in!
</p>
